nav h2{
    font-size: 34px;
    color: #4E47FF; 
    font-weight: 900;
}
.btn-primary{
background-color: #4E47FF;
color: white;
text-decoration: none;
padding: 12px 36px 12px 36px;
border-radius: 5px;
font-size: large;
font-weight: 600; 
list-style: none;
}
.nav-style{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding: 100px; 
    padding-bottom:50px;
}
.banner-word{
    color: #252432;
    text-align: center;
    font-size: xx-large;
    font-weight: 900; padding-bottom: 150px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    width: 1350px;
    height: 550spx;
}
/* section style */
.first-section{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0;
    padding: 62.5px;
    padding-left: 141px;
    padding-right: 141px;
    background-color: white;
    border-radius: 10px;
}
.section-title{
    
}
.section-sub-title{
color: #252432;
font-size: large;
font-weight: 500;
}
img{
    border-radius: 20px;
}
.btn-secondary{
    padding: 20px;
    background-color: #4E47FF;
    font-weight: 700;
    color: white;
    border-radius: 11px;
}
/* section-two-title */
.section-two-title{
    text-align: center;
}
.num-section{
    display: flex;
    text-align: center;
    margin-left: 375px;
    gap: 38px;
}
.section-num{
    font-size: xx-large;
    color: #4E47FF;

}
.section-two-styles{
    border-radius: 30px;
    background-color: #BAB8FF;
    border-width: 800px;
    margin-left: 141px;
    margin-right: 159px;
}
.section-three-title{
    text-align: center;
    padding-top: 110px;
}
.review{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}
.section-three{
    margin-left: 141px;
    margin-right: 159px;
    border-width: 800px;
    background-color: aliceblue;
    border-radius: 20px;
}
.people{
    background-color: #F2EDED;
    border-radius: 10px;
}
/* setion-four-style */
.section-four{
    text-align: center;
    margin-top: 71px;
    margin-left: 140px;
    margin-right: 150px;
    margin-bottom: 71px;
    background-color: linen;
    border-radius: 20px;
}
.img{ padding-top: 30px;
padding-bottom: 50px;
border-bottom-left-radius: 25px;}
.section4-title{
    font-weight: 900;
}
.section4-description{
    color: #000000;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}
.fotter-collum{
    width: 50%;
}
footer input[type="text"] ,footer input[type="email"] ,footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #D6DDED;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.footer-title{
    font-size: xx-large;
    font-weight: bolder;
}
.background{
    background-color: #F5F8FF;
}
.last-disk{
    text-decoration: none;
}