nav h2{
    font-size: 34px;
    color: #4E47FF; 
    font-weight: 900;
}
.btn-primary{
background-color: #4E47FF;
color: white;
text-decoration: none;
padding: 12px 36px 12px 36px;
border-radius: 5px;
font-size: large;
font-weight: 600; 
list-style: none;
}
.nav-style{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding: 100px; 
    padding-bottom:50px;
}
.banner-word{
    color: #252432;
    text-align: center;
    font-size: xx-large;
    font-weight: 900; padding-bottom: 150px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    width: 1350px;
    height: 550spx;
}
/* section style */
.first-section{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0;
    padding: 62.5px;
    padding-left: 141px;
    padding-right: 141px;
    background-color: white;
    border-radius: 10px;
}
.section-title{
    
}
.section-sub-title{
color: #252432;
font-size: large;
font-weight: 500;
}
img{
    border-radius: 20px;
}
.btn-secondary{
    padding: 20px;
    background-color: #4E47FF;
    font-weight: 700;
    color: white;
    border-radius: 11px;
}
/* section-two-title */
.section-two-title{
    text-align: center;
}
.num-section{
    display: flex;
    text-align: center;
    margin-left: 375px;
    gap: 38px;
}
.section-num{
    font-size: xx-large;
    color: #4E47FF;

}
.section-two-styles{
    border-radius: 30px;
    background-color: #2e2432;
    border-width: 800px;
    margin-left: 141px;
    margin-right: 159px;
    
    
}